
.login-bg {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://i.pinimg.com/736x/28/36/25/2836253c0f5dae99390a4c668f583ca6.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    background-color: rgba(247, 247, 247, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}


.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}


.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #5c3535;
    border-radius: 6px;
    font-size: 16px;
}


button {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background-color: #413110;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #655e33;
    transform: scale(1.05);
}


.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #413110;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}


.login-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
