.signup-container {
    background-color: rgba(247, 247, 247, 0.9); 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 500px;
    margin: 40px auto; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: auto; 
}


.sign-bg {
    font-family: Arial, sans-serif;
    background: url('https://i.pinimg.com/736x/28/36/25/2836253c0f5dae99390a4c668f583ca6.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 14px; 
    border: 2px solid #3d2a1a; 
    border-radius: 6px; 
    background-color: #413110;
    color: white;
    font-size: 18px;
    font-weight: bold; 
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #655e33;
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #413110;
    text-decoration: none;
    font-size: 14px;
}

.login-link a:hover {
    text-decoration: underline;
}


.signup-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
